<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Richie-CMDB</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar navbar-default" role="navigation">

        <div class="navbar-header">

        </div><!-- /.navbar-header-->
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </nav>


<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script>
    $('#mytab a').click(function(e){
        e.preventDefault();
        $(this).tab('show');
    })
</script>

</body>
</html>